<div class="row">
  <div class="col-md-6 my-5">
    <h2>1. Quel est le problème ?</h2>
    <p>
      Les Universités françaises opèrent de nombreux sites Web, avec un panel hétérogène de technologies.
      Ces sites présentent des <b>performances énergétiques très variables</b>, et représentent un trafic Web non négligeable.
    </p>
  </div>
  <div class="col-md-6 my-5">
    <h2>2. Quelle méthodologie de mesure ?</h2>
    <p>
      Nous avons mesuré avec notre outil de <a href="https://diagnostic.noesya.coop" target="_blank" rel="noreferrer">diagnostic écologique</a> l'impact carbone de deux pages pour chaque site d'Université, la page d'accueil et la page de mentions légales. Nous avons choisi la moyenne de ces deux valeurs, que nous avons multiplié par le nombre de pages vues, sur la base des données fournies par <a href="https://www.similarweb.com/fr/" target="_blank" rel="noreferrer">Similar Web</a>.
    </p>
  </div>
  <div class="col-md-6 my-5">
    <h2>3. Les chiffres sont-ils fiables ?</h2>
    <p>
      Les chiffres présentent des incertitudes, qui sont détaillées sur chaque page d'Université. Toutefois, <b>la réalité est probablement au-dessus de ces chiffres</b>, car nous mesurons seulement le site principal de chaque Université. Dans la réalité, une Université opère de très nombreux sites, directement ou indirectement : composantes, laboratoires, bibliothèques, formations, projets spécifiques...
    </p>
  </div>
  <div class="col-md-6 my-5">
    <h2>4. Comment agir ?</h2>
    <p>
      Chez <a href="https://www.noesya.coop" target="_blank" rel="noreferrer">noesya</a>, nous développons <a href="https://www.osuny.org" target="_blank" rel="noreferrer">Osuny</a>, une <b>plateforme numérique en source ouverte pour les Universités & les écoles</b>. Nous avons mesuré l'impact carbone <a href="https://www.iut.u-bordeaux-montaigne.fr" target="_blank" rel="noreferrer">du site réalisé avec l'Institut Universitaire de Technologie Bordeaux Montaigne</a> , et établi une comparaison systématique pour évaluer le CO<sub>2</sub> évitable : <b>plus de 9000 tonnes eq CO<sub>2</sub></b>.
    </p>
  </div>
  <div class="col-md-6 my-5">
    <h2>5. Donc, concrètement ?</h2>
    <p>
      <b>Vous représentez une Université</b> et vous voulez transformer vos sites Web ? <a href="https://calendly.com/arnaudlevy/decouvrir-osuny" target="_blank" rel="noreferrer">Prenons rendez-vous pour avancer</a>.
      <b>Vous faites des sites Web</b> (développement, recherche utilisateurs, design interactif, stratégie, gestion de projet, ergonomie, accessibilité, éco-conception...) et vous avez envie d'avancer sur ce sujet ? <a href="https://calendly.com/arnaudlevy/decouvrir-osuny" target="_blank" rel="noreferrer">Parlons-en</a> ! Vous n'êtes dans aucun des deux cas précédents mais vous voulez en discuter ? <a href="https://calendly.com/arnaudlevy/decouvrir-osuny" target="_blank" rel="noreferrer">C'est possible aussi</a>.
    </p>
  </div>
</div>
