<div class="row">
  <div class="col-md-6 mb-5">
    <h2>1. Quel est le problème ?</h2>
    <p>
      Les Universités françaises opèrent de nombreux sites Web, avec un panel hétérogène de technologies.
      Ces sites présentent des <b>performances énergétiques très variables</b>, et représentent un trafic Web non négligeable.
    </p>
  </div>
  <div class="col-md-6 mb-5">
    <h2>2. Quelle méthodologie de mesure ?</h2>
    <p>
      Nous avons mesuré avec notre outil de <a href="https://diagnostic.noesya.coop" target="_blank" rel="noreferrer">diagnostic écologique</a> l'impact carbone de deux pages pour chaque site d'Université, la page d'accueil et la page de mentions légales. Nous avons choisi la moyenne de ces deux valeurs, que nous avons multiplié par le nombre de pages vues, sur la base des données fournies par <a href="https://www.similarweb.com/fr/" target="_blank" rel="noreferrer">Similar Web</a>.
    </p>
  </div>
  <div class="col-md-6 mb-5">
    <h2>3. Les chiffres sont-ils fiables ?</h2>
    <p>
      Les chiffres présentent des incertitudes, qui sont détaillées sur chaque page d'Université. Toutefois, la réalité est probablement très au-dessus de ces chiffres, car nous mesurons seulement le site principal de chaque Université. Dans la réalité, une Université opère de très nombreux sites, directement ou indirectement : composantes, laboratoires, bibliothèques, formations, projets spécifiques...
    </p>
  </div>
  <div class="col-md-6 mb-5">
    <h2>4. Comment agir ?</h2>
    <p>
      Chez <a href="https://www.noesya.coop" target="_blank" rel="noreferrer">noesya</a>, nous développons <a href="https://www.osuny.org" target="_blank" rel="noreferrer">Osuny</a>, une plateforme numérique en source ouverte pour les Universités & les écoles. Nous avons mesuré l'impact carbone du <a href="https://bordeauxmontaigne-iut.netlify.app/" target="_blank" rel="noreferrer">prototype</a> en cours de réalisation avec l'Université Bordeaux Montaigne, et établi une comparaison systématique pour évaluer le CO2 évitable : plus de 8000 tonnes eq CO2.
    </p>
  </div>
  <div class="col-md-6 mb-5">
    <h2>5. Donc c'est de la prospection déguisée ?</h2>
    <p>
      Un peu. Oui, parce que nous sommes prestataires de service et que nous sommes ravis de produire des sites sobres (et accessibles). Non, parce que nous sommes 5, et que nous sommes incapables de transformer l'ensemble des sites seuls. En revanche, nous avons fabriqué un outil qui fonctionne, et nous mettons en place un réseau de personnes et d'organisations qui souhaitent contribuer à la décarbonation des sites Web des Universités françaises.
    </p>
  </div>
  <div class="col-md-6 mb-5">
    <h2>6. Donc, concrètement ?</h2>
    <p>
      Vous représentez une Université et vous voulez transformer vos sites Web ? <a href="https://calendly.com/arnaudlevy/decouvrir-osuny" target="_blank" rel="noreferrer">Prenons rendez-vous pour avancer.</a>
      Vous faites des sites Web (développement, recherche utilisateurs, design interactif, stratégie, gestion de projet, ergonomie, accessibilité, éco-conception...) et vous avez envie d'avancer sur ce sujet ? <a href="https://calendly.com/arnaudlevy/decouvrir-osuny" target="_blank" rel="noreferrer">Parlons-en !</a>
    </p>
  </div>
</div>
