{{ define "main" }}
  {{ partial "home/hero.html" . }}
  {{ $pages := 0}}
  {{ $tons_without := 0}}
  {{ $tons_with := 0}}
  {{ $tons_saved := 0}}

  <div class="container">
    Graph bar horizontal stacked (62 bars, couleurs alternées ?):
    - ligne du haut, tous les impacts carbone existants
    - ligne du bas, tous les impacts carbones projetés
    <table class="table">
      <thead>
        <tr>
          <th>Université</th>
          <th>
            Impact carbone moyen d'une page
            <small>(g eq CO2)</small>
          </th>
          <th>
            Impact carbone annuel
            <small>(t eq CO2)</small>
          </th>
          <th>
            Impact carbone annuel évitable
            <small>(t eq CO2)</small>
          </th>
        </tr>
      </thead>
      <tbody>
        {{ range where site.RegularPages "Section" "universities" }}
          {{ $visitors_per_month := .Params.stats.visitors_per_month }}
          {{ $average_pageviews := .Params.stats.average_pageviews }}
          {{ $pages_per_month := mul $visitors_per_month $average_pageviews }}
          {{ $pages_per_year := mul 12 $pages_per_month }}
          {{ $home := .Params.carbon.home}}
          {{ $legal := .Params.carbon.legal}}
          {{ $average_carbon := div (add $home $legal) 2 }}
          {{ $total := mul $average_carbon $pages_per_year }}
          {{ $total_tons := div $total 1000000 }}

          {{ $home_with_osuny := site.Params.carbon.home}}
          {{ $legal_with_osuny := site.Params.carbon.legal}}
          {{ $average_carbon_with_osuny := div (add $home_with_osuny $legal_with_osuny) 2 }}
          {{ $total_per_year_with_osuny := mul $average_carbon_with_osuny $pages_per_year }}
          {{ $total_tons_per_year_with_osuny := div $total_per_year_with_osuny 1000000 }}
          {{ $total_tons_saved := sub $total_tons $total_tons_per_year_with_osuny }}

          {{ $pages = add $pages $pages_per_year }}
          {{ $tons_without = add $tons_without $total_tons }}
          {{ $tons_with = add $tons_with $total_tons_per_year_with_osuny }}
          {{ $tons_saved = add $tons_saved $total_tons_saved }}
          <tr data-values="[{{ $total_tons }}, {{ $total_tons_per_year_with_osuny }}, {{ $total_tons_saved }}]">
            <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
            <td>{{ $average_carbon | lang.FormatNumber 2 }}</td>
            <td>{{ $total_tons | lang.FormatNumber 1 }}</td>
            <td>{{ $total_tons_saved | lang.FormatNumber 1 }}</td>
          </tr>
        {{ end }}
      </tbody>
      <tfoot>
        <tr>
          <th>Total</th>
          <th></th>
          <th>{{ $tons_without | lang.FormatNumber 1 }}</th>
          <th>{{ $tons_saved | lang.FormatNumber 1 }}</th>
        </tr>
      </tfoot>
    </table>
  </div>
{{ end }}
