{{ define "main" }}
  {{ partial "home/hero.html" . }}

  <div class="container mb-5 chart">
    <div>
      <canvas id="chart" height="200" aria-label="Impact carbone projeté des sites internet des universités sur un an." role="img">
        Votre navigateur ne supporte pas l'affichage de l'élément canvas.
      </canvas>
    </div>

    <a class="btn btn-sm" data-chart-action="orderByTons"><small>Trier par tonnes</small></a>
    <a class="btn btn-sm d-none" data-chart-action="orderByName"><small>Trier par noms</small></a>
  </div>

  <div class="container">


    {{ partial "universities/explanation.html" }}
    <div class="table-responsive">
      <table class="table">
        <caption>Liste des Université</caption>
        <thead>
          <tr>
            <th scope="col" data-sort-default>Université</th>
            <th scope="col">
              Impact carbone moyen d'une page
              <small>(g eq CO<sub>2</sub>)</small>
            </th>
            <th scope="col" data-sort-method='number'>
              Impact carbone annuel
              <small>(t eq CO<sub>2</sub>)</small>
            </th>
            <th scope="col" data-sort-method='number'>
              Impact carbone annuel évitable
              <small>(t eq CO<sub>2</sub>)</small>
            </th>
          </tr>
        </thead>
        <tbody>
          {{ $pages := 0}}
          {{ $tons_without := 0}}
          {{ $tons_with := 0}}
          {{ $tons_saved := 0}}
          {{ range where site.RegularPages "Section" "universities" }}
            {{ $visitors_per_month := .Params.stats.visitors_per_month }}
            {{ $average_pageviews := .Params.stats.average_pageviews }}
            {{ $pages_per_month := mul $visitors_per_month $average_pageviews }}
            {{ $pages_per_year := mul 12 $pages_per_month }}
            {{ $home := .Params.carbon.home}}
            {{ $legal := .Params.carbon.legal}}
            {{ $average_carbon := div (add $home $legal) 2 }}
            {{ $total := mul $average_carbon $pages_per_year }}
            {{ $total_tons := div $total 1000000 }}

            {{ $home_with_osuny := site.Params.carbon.home}}
            {{ $legal_with_osuny := site.Params.carbon.legal}}
            {{ $average_carbon_with_osuny := div (add $home_with_osuny $legal_with_osuny) 2 }}
            {{ $total_per_year_with_osuny := mul $average_carbon_with_osuny $pages_per_year }}
            {{ $total_tons_per_year_with_osuny := div $total_per_year_with_osuny 1000000 }}
            {{ $total_tons_saved := sub $total_tons $total_tons_per_year_with_osuny }}

            {{ $pages = add $pages $pages_per_year }}
            {{ $tons_without = add $tons_without $total_tons }}
            {{ $tons_with = add $tons_with $total_tons_per_year_with_osuny }}
            {{ $tons_saved = add $tons_saved $total_tons_saved }}
            <tr
              data-name="{{ .Title }}"
              data-tons="{{ $total_tons }}"
              data-tons-with-osuny="{{ $total_tons_per_year_with_osuny }}">
              <th scope="row"><a href="{{ .Permalink }}">{{ .Title }}</a></th>
              <td data-sort="{{ $average_carbon }}">{{ $average_carbon | lang.FormatNumber 2 }}</td>
              <td data-sort="{{ $total_tons }}">{{ $total_tons | lang.FormatNumber 1 }}</td>
              <td data-sort="{{ $total_tons_saved }}">{{ $total_tons_saved | lang.FormatNumber 1 }}</td>
            </tr>
          {{ end }}
        </tbody>
        <tfoot>
          <tr>
            <th scope="row" colspan="2">Total</th>
            <td>{{ $tons_without | lang.FormatNumber 1 }}</td>
            <td>{{ $tons_saved | lang.FormatNumber 1 }}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
{{ end }}
